@import "variables";

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    border-top: .5rem solid map-get($colores, principal);
    padding: 2rem;

    &__container{
        display: flex;
        align-items: center;
    }
    &__p{
        font-size: 1rem;
        color: grey;
    }
    &__ul{
        display: flex;
    }
    &__li{
        margin: 0 .4rem
    }
    &__ico{
        width: 100%;
        height: 100%;
    }
}


