@import "variables";

.header{
    background: linear-gradient(map-get($colores, principal) 70%, transparent);
    height: 5rem;
    display: flex;
    align-items: center;
    &__container{
        width: 90%;
        height: 100%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    &__h1{
        @include font($fuente, 2rem, bold);
        @include mobile{
            display: none;
        }
        text-transform: uppercase;
        justify-self: start;
    }
    &__logo{     
        justify-self: center;
        max-height: 5rem;
        @include mobile{
            grid-column: 2;
        }
    }
    &__nav{
        justify-self: end;
        gap: 1rem;
        @include mobile{
            display: none;
        }
    }
    &__ul{
        display: flex;
        gap: 2rem;
        align-items: center;
        position:relative;
    }
    &__li{
        @include font($fuente,1rem);
        &:hover{
            scale: 1.1;
            transition: .3s;
        }
        &-a{
            text-decoration: none;
            color: inherit;
        }
        &-img{
            height: 2rem;
            
        }
        &-span{
            position: absolute;
            top: -5px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 12px;
            line-height: 20px;
        }
    }
}