@import "variables";

.header{
    background: linear-gradient(map-get($colores, principal) 70%, transparent);
    height: 5rem;
    display: flex;
    transition: height 0.5s ease;
    &-activo{
        height: 100vh;
        align-items: baseline;
    }
    &__container{
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        @include mobile{ //------------------
            grid-template-columns: 1fr;
        }
    }
    &__h1{
        @include font($fuente, 2rem, bold);
        @include mobile{
            display: none;
        }
        text-transform: uppercase;
        justify-self: start;
    }
    &__logo{     
        justify-self: center;
        max-height: 5rem;
        @include mobile{
            grid-row: 1; //------------------
        }
    }
    &__nav{
        justify-self: end;
        gap: 1rem;
        @include mobile{
            display: flex;
            height: 80vh;
            justify-self: center;
            align-items: center;
        }
    }
    &__ul{
        display: flex;
        gap: 2rem;
        align-items: center;
        position:relative;
        @include mobile{
            flex-direction: column;
            gap: 4rem;
            opacity: 0;
            transition: opacity .2s ease
        }
        &-activo{
            opacity: 1;
        }
    }
    &__li{
        position:relative;
        @include font($fuente,1rem);
        &:hover{
            scale: 1.1;
            transition: .3s;
        }
        &-a{
            text-decoration: none;
            color: inherit;
        }
        &-img{
            height: 2rem;
            
        }
        &-span{
            position: absolute;
            top: -5px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 12px;
            line-height: 20px;
        }
    }
}
.menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 3%;
    right: 3%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: map-get($colores, principal);
    transition: background-color .5s ease;
    @include mobile{
        display: flex;
    }
    &-activo{
        background-color: transparent;
    }
}