@import "variables";

.header{
    background: linear-gradient(map-get($colores, principal) 70%, transparent);
    height: 5rem;
    display: flex;
    align-items: center;
    &__container{
        width: 90%;
        height: 100%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    &__h1{
        justify-self: start;
    }
    &__logo{
            object-fit: fill;
    }
    &__nav{
        justify-self: end;
        gap: 1rem;
    }
    &__ul{
        display: flex;
        gap: 2rem;
    }
    &__li{
        
    }
}