@import "variables";

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    &__title{
        padding: 2rem;
    }
    &__description{
        @include font($fuenteDescripcion,1.5em, black);
        width: 50%;
        text-align: center;
    }
}

