@import "variables";

.modal{
    display: none;
    &-open{
        display: flex;
        position:fixed;
        inset: 0;
        background-color: #111111bd;
        @include fadeAnimation(.5s);
    }

    &__container{
        display: grid;
        gap: 1rem;
        margin: auto;
        width: 90%;
        max-width: 50rem;
        max-height: 90%;
        background-color: white;
        border-radius: 10px;
        border: map-get($colores, principal) solid 3px;
        box-shadow: 0px 0px 25px map-get($colores, principal);
        padding: 1rem;
    }
    &__close{
        justify-self: end;
        text-align: center;
        cursor: pointer;
    }
    &__header{
        display: grid;
        grid-template-columns: .5fr repeat(3, 1fr) .5fr;
        text-align: center;
    }
    &__chartTitle{
        @include font($fuente,1.3rem, bold);

        &:nth-child(2){
            grid-column: 3;
        }
        &:nth-child(3){
            grid-column: 4;
        }
    }
    &__article{
        display: grid;
        grid-template-columns: .5fr repeat(3, 1fr) .5fr;
        justify-items: center;
        align-items: center;
        @include font($fuente,1rem);
        margin-bottom: 1rem;

        &-container{
            max-height: 27rem;
            overflow: auto;
        }
    }
    &__numbers{
        width: 2rem;
        border-radius: 10px;
        border: map-get($colores, principal) solid 3px;
    }
    &__img{
        width: 8rem;
        height: 8rem;
    }
    &__price{

    }
    &__trash{
        cursor: pointer;
        &:hover{
            scale: 1.1
        }
    }
    &__totalContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 1rem 0;
    }
    &__toalPrice{
        grid-column: 3;
        @include font($fuente,1rem, bold);
        text-transform: uppercase;
    }
    &__btnContainer{
        display: flex;
        justify-content: space-evenly;
    }
    &__btn{
        &-check{
            @include btn("exito");
        }
        &-erase{
            @include btn("borrar");
        }
    }
}