$colorPrincipal: #ffaa22;
$colorSombra:  #ffee66;

@mixin cardGrid{
    display:grid;
    grid-template-areas:  "x x""y1 y2""z z";
    row-gap: 1rem;
}

@mixin font($family, $size, $color){
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin fadeAnimation($time){
    animation:fadeIn $time;
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    }
}