.header {
  background: linear-gradient(#ffaa22 70%, transparent);
  height: 5rem;
  display: flex;
  transition: height 0.5s ease;
}
.header-activo {
  height: 100vh;
  align-items: baseline;
}
.header__container {
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    grid-template-columns: 1fr;
  }
}
.header__h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  justify-self: start;
}
@media screen and (max-width: 480px) {
  .header__h1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__h1 {
    display: none;
  }
}
.header__logo {
  justify-self: center;
  max-height: 5rem;
}
@media screen and (max-width: 480px) {
  .header__logo {
    grid-row: 1;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    grid-row: 1;
  }
}
.header__nav {
  justify-self: end;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .header__nav {
    display: flex;
    height: 80vh;
    justify-self: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: flex;
    height: 80vh;
    justify-self: center;
    align-items: center;
  }
}
.header__ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header__ul {
    flex-direction: column;
    gap: 4rem;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
@media screen and (max-width: 768px) {
  .header__ul {
    flex-direction: column;
    gap: 4rem;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
.header__ul-activo {
  opacity: 1;
}
.header__li {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: black;
}
.header__li:hover {
  scale: 1.1;
  transition: 0.3s;
}
.header__li-a {
  text-decoration: none;
  color: inherit;
}
.header__li-img {
  height: 2rem;
}
.header__li-span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 20px;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 3%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ffaa22;
  transition: background-color 0.5s ease;
}
@media screen and (max-width: 480px) {
  .menu {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
  }
}
.menu-activo {
  background-color: transparent;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.intro__title {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding: 2rem;
}
@media screen and (max-width: 480px) {
  .intro__title {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .intro__title {
    width: 100%;
    text-align: center;
  }
}
.intro__description {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: black;
  width: 50%;
  text-align: center;
  line-height: 1.8rem;
}
@media screen and (max-width: 480px) {
  .intro__description {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .intro__description {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20rem;
  height: 30rem;
  padding: 1rem;
  border: #ffaa22 solid 3px;
  border-radius: 10px;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card__img {
  position: relative;
  height: 35%;
  width: 100%;
}
.card__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  transition: all 0.5s ease;
}
.card__img-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px;
}
.card__img-transition {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.5s ease;
  opacity: 0;
}
.card:hover {
  box-shadow: #ffee66 0px 0px 10px 1px;
  transition: 0.3s;
}
.card:hover > .card__img::before {
  opacity: 1;
}
.card:hover > .card__img {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  transition: all 0.5s ease;
}
.card:hover > .card__img > .card__img-transition {
  opacity: 1;
  transform: translateY(0%);
}
.card__body {
  display: grid;
  grid-template-areas: "x x" "y1 y2" "z z";
  row-gap: 1rem;
  padding-top: 2rem;
}
.card__body-title {
  grid-area: x;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.card__body-genre-text {
  grid-area: y1;
  font-family: "Orbitron", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
}
.card__body-price {
  grid-area: y2;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: black;
  justify-self: end;
}
.card__body-description {
  grid-area: z;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: black;
}
.card__btn {
  width: fit-content;
  align-self: center;
  margin-top: auto;
  box-shadow: 0px 0px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffffff 5%, #ffaa22 100%);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffaa22;
}
.card__btn:hover {
  background: linear-gradient(to bottom, #ffaa22 5%, #ffffff 100%);
  background-color: #ffaa22;
}
.card__btn:active {
  position: relative;
  top: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  border-top: 0.5rem solid #ffaa22;
  padding: 2rem;
}
.footer__container {
  display: flex;
  align-items: center;
}
.footer__p {
  font-size: 1rem;
  color: grey;
}
.footer__ul {
  display: flex;
}
.footer__li {
  margin: 0 0.4rem;
}
.footer__ico {
  width: 100%;
  height: 100%;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 8rem;
  background: linear-gradient(transparent, #ffaa22 30%, #ffaa22 70%, transparent);
  margin-bottom: 3rem;
}
.selector__text {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
.selector__input {
  height: 2rem;
  border-radius: 10px;
}
.selector__list {
  background-color: red;
  font-size: 3rem;
}
.selector__submit {
  font-family: "Orbitron", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  height: 2rem;
  width: 4rem;
  border-radius: 10px;
}

.games {
  display: flex;
  justify-content: center;
}
.games__container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.decoration__endPage {
  background: linear-gradient(transparent 70%, #ffaa22);
  height: 5rem;
}

.modal {
  display: none;
}
.modal-open {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal__container {
  display: grid;
  gap: 1rem;
  margin: auto;
  width: 90%;
  max-width: 50rem;
  max-height: 90%;
  background-color: white;
  border-radius: 10px;
  border: #ffaa22 solid 3px;
  box-shadow: 0px 0px 25px #ffaa22;
  padding: 1rem;
}
.modal__close {
  justify-self: end;
  text-align: center;
  cursor: pointer;
}
.modal__header {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  text-align: center;
}
.modal__chartTitle {
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}
.modal__chartTitle:nth-child(2) {
  grid-column: 3;
}
.modal__chartTitle:nth-child(3) {
  grid-column: 4;
}
.modal__article {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  justify-items: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: black;
  margin-bottom: 1rem;
}
.modal__article-container {
  max-height: 27rem;
  overflow: auto;
}
.modal__empty {
  animation: fadeIn 1.5s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal__empty-cross {
  width: 5rem;
}
.modal__empty-text {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.modal__numbers {
  width: 2rem;
  border-radius: 10px;
  border: #ffaa22 solid 3px;
}
.modal__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}
.modal__trash {
  cursor: pointer;
}
.modal__trash:hover {
  scale: 1.1;
}
.modal__totalContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 1rem 0;
}
.modal__toalPrice {
  grid-column: 3;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.modal__btnContainer {
  display: flex;
  justify-content: space-evenly;
}
.modal__btn-check {
  width: fit-content;
  align-self: center;
  margin-top: auto;
  box-shadow: 0px 0px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffffff 5%, rgb(35, 185, 35) 100%);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(35, 185, 35);
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(35, 185, 35);
}
.modal__btn-erase {
  width: fit-content;
  align-self: center;
  margin-top: auto;
  box-shadow: 0px 0px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffffff 5%, rgb(255, 0, 0) 100%);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(255, 0, 0);
}

/*# sourceMappingURL=style.css.map */
